:root {
    --primary: #fcb72e;
    --bg: #145a66;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "DM Serif Text", serif;
    background-color: #fff;
    color: var(--bg);
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: #145a66d9;
    border-bottom: 1px solid #1d8496;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;   
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.15s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
}

.navbar .navbar-extra button {
    color: #fff;
    margin: 0 0.5rem;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;

}

.navbar .navbar-extra button:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}


/* Hero section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(webimg/Main\ Hero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgb(255, 255, 255) 8%, rgba(255, 255, 255, 0) 55%);
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 5em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .content h1 span {
    color: var(--primary);
}

.hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 1px 3px rgba(1, 1, 3, 0.5);
    color: #fff;
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 1px 3px rgba(1, 1, 3, 0.5);

}

.search-box {
    position: fixed;
    top: 80px;
    right: 7%;
    background: #fff;
    padding:10px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    display: none;
    z-index: 9999;
}

.search-box input {
    border: none;
    outline: none;
    font-size: 1.4rem;
    width: 220px;
}
/* About Section */

.about, 
.menu, 
.aktifitas,
.contact {
    padding:10rem 7% 1.4rem;
}

.about h2, 
.menu h2, 
.aktifitas h2,
.contact h2 {
    text-align: center;
    color: var(--bg);
    font-size: 2.5rem;
    margin-bottom: 3rem;
    font-family: 'Times New Roman', Times, serif;
}

.about h2 span, 
.menu h2 span,
.aktifitas h2 span,
.contact h2 span {
    color: var(--primary);
}

.about .row {
    display: flex;
    gap: 3rem;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img {
    width: 105%;
}

.about .about-img .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1.6;
    padding-left: 2rem;
}

/* Menu section */

.menu h2,
.aktifitas h2,
.contact h2 {
    margin-bottom: 1rem;
}

.menu p,
.aktifitas p,
.contact p {
    text-align: center;
    max-width: 45rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
    font-size: 1.3rem;
}

.menu .slider {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
}

.menu .slider .slide-track {
    display: flex;
    gap: 30px;
    width: max-content;
    animation: scroll 30s linear infinite;
}

.menu .slider .slide-track .slide-item {
    text-align: center;
    min-width: 260px;
}

.menu .slider .slide-track .slide-item img {
    width: 300px;
    height: 170px;
    object-fit: cover;
    border-radius: 12px;
}

.menu .slider .slide-item p {
    margin-top: 8px;
    font-size: 20px;
    color: #145a66;
}

/* animasi geser ke kiri */

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/* Aktifitas */

.aktifitas {
    padding: 8rem 7%;
    text-align: center;
}

.aktifitas h2 {
    margin-bottom: 1.5rem;
}

.aktifitas p {
    max-width: 45rem;
    font-weight: 100;
    line-height: 1.6;
    margin: auto;
}

.activity-gallery {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.activity-item {
    overflow: hidden;
    border-radius: 12px;
}

.activity-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.activity-item img:hover {
    transform: scale(1.08);
}

/* contact */

.contact .row {
    display: flex;
    margin-top: 2rem;
    background-color: var(--bg);
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .input-group textarea {
    width: 100%;
    padding: 1.2rem 1.2rem 1.2rem 4rem;
    border: none;
    outline: none;
    font-size: 1.6rem;
    background: transparent;
    resize: none;
    min-height: 100px;
    color: #fff;
}

.contact .input-group input {
    height: 50px;
}

.contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--primary);
    border: 1px solid #eee;
    padding-left: 1rem;
    border-radius: px;
}
.contact .row form .input-group svg {
    color: #fff;
    width: 26px;
    height: 26px;
    flex-shrink: 0;
}

.contact .row form .input-group input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background: none;
    color: #fff;
}

.contact .row form .btn {
    margin-top: 3rem;
    display: inline-flex;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: #2596be;
    cursor: pointer;
}

.notif {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    background: #145a66;
    color: #fff;
    padding: 1.2rem 2.5rem;
    border-radius: 8px;
    font-size: 1.4rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
    z-index: 99999;
    transition: top 0.5s ease;
}

.notif.show {
    top: 20px;
}

/* footer */
footer {
    background-color: var(--bg);
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 3rem;
}

footer p {
    color: #fff;
}

footer .socials {
    padding: 1rem 0;
}

footer .socials a {
    color: #fff;
    margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
    color: #fcb72e;
}

footer .links {
    margin-bottom: 1.4rem;
}

footer .links a {
    color: #fff;
    padding: 0.7rem 1rem;
}

footer .credit {
    font-size: 0.8rem;
}

footer .credit a {
    color: var(--primary);
    font-weight: 700;
}

/* Media Queries

/* Laptop */
@media (max-width:1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width:768px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }



    .navbar .navbar-nav.active {
        right: 0;
    }
    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

     .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
     }

     .about .row {
    flex-wrap: wrap;
     }

    .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
     }

    .about .row .content {
    padding: 0;
     }

    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }
    
    .about .row .content p {
        font-size: 1.6rem;
    }

    .menu .slider {
        padding: 15px 0;
    }

    .menu .slider .slide-track {
        gap: 20px;
        animation-duration: 25s; /* lebih cepat dikit */
    }

    .menu .slider .slide-item {
        min-width: 220px;
    }

    .menu .slider .slide-item img {
        width: 220px;
        height: 150px;
    }

    .menu .slider .slide-item p {
        font-size: 1.3rem;
    }

    .activity-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .activity-item img {
        height: 200px;
    }

    .contact .row {
        flex-wrap: wrap;
    }

    .contact .row .map {
        height: 30rem;
    }

    .contact .row form {
        padding-top: 0;
    }
}



/* Mobile Phone */

@media (max-width:450px) {
    html {
        font-size: 55%;
    }

    .menu .slider {
        padding: 10px 0;
    }

    .menu .slider .slide-track {
        gap: 15px;
        animation-duration: 20s;
    }

    .menu .slider .slide-item {
        min-width: 180px;
    }

    .menu .slider .slide-item img {
        width: 180px;
        height: 120px;
    }

    .menu .slider .slide-item p {
        font-size: 1.2rem;
    }

    .activity-gallery {
        grid-template-columns: 1fr;
    }

    .activity-item img {
        height: 180px;
    }
}
